.main{
    margin-left: 0;
    width: 100vw;
    height: 80vh;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.img{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 70vh;
}
.img img{
    height:70vh;
    width: 30vw;
}

form{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center
}


.inputContainer{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    
}
.inputContainer input{
    width: 100%;
    height: 40px;
    padding: 2px;
    border-radius: 8px;
}
.inputContainer label{
    font-size: 20px;
    font-weight: 600;
}
.loginOption{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.formSubmit{
    display: flex;
    width: 300px;

    justify-content: space-between;
}
