.main{
    /* margin-left: 0; */
    width: 90vw;
    height: 80vh;
    background: #f8f8f8;
    border-radius: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    overflow: hidden;
}

.img{
    width: 30vw;
    border-radius: 2vw;
    background-image: url(../../../src/assets/question.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}
form{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    /* background-color: firebrick; */
}


.inputContainer{
    width: 300px;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.inputContainer input{
    width: 100%;
    height: 40px;
    padding: 2px;
    border-radius: 8px;
}
.inputContainer label{
    font-size: 20px;
    font-weight: 600;
}
.loginOption{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.formSubmit{
      align-self: start;
    padding-left: 5%;

}
.p{
    color: black;
    font-size: 15px;
    
}
.not{
    align-self: start;
    padding-left: 5%;
    padding-top: 2%;
}
