#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  
  h3, p {
    font-size: 1.5em;
    font-weight: 300;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 0.05em;
  }
  
  .quizz {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  #answers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  #answers span {
    background-color: #222a2c;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    border: 5px solid #fefffb;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
  
  #answers span:hover {
    background-color: #555;
  }
  