

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:whitesmoke; */
    color: #f8efef;
    height: 9vh;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  .hamburger{
    color: white;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  .text2{
    display: flex;
    align-items: center;
  
  }
  .logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    /* background-color:orange; */
  }

  .logo {
    width: 6em; 
    height: 4em;
  }
  
  .linkscontainer {
    display: flex;
    align-items: center;
    width: 22vw;
    /* transition: transform 5.5s ease;
    transform: translateY(-40%); */

  }
  /* .linkscontainer .navlink .active{
    transform: translateY(0);
  } */
  
 .navlink {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    /* opacity: 0;
    transition: opacity 5.5s ease; */
  
  }
  /* .linkscontainer .navlink.show{
    opacity: 1;
  } */
  
  .navlink:hover {
    text-decoration: none;
 
  }

  
  .createbutton {
    background-color: rgb(245, 160, 3);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
  }
  
  .createbutton:hover {
    background-color: #0f0f10;
    cursor: pointer;

  }
  .active{ 
    border: 2px solid orange;
     border-bottom: 3px solid rgb(245, 160, 3); 
}
 
  
