

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    height: 10vh;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  
  .logo-container {
    flex: 1; 
  }
  input{
    display: flex;
    align-items: center;
    width: 12vw;
    height: 4vh;
    border-radius: 2em;
    border: 0.1px solid black;
    padding-left: 1em;
    background: rgb(233, 231, 231);
    outline: none;

  }

 input:focus, input:active{
    outline: 1px solid #0040ff;
    border: none;
  }
  .logo {
    width: 6em; 
    height: 4em;
  }
  
  .links-container {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    text-decoration: underline;
 
  }
  
  .search-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .create-button {
    background-color: #0040ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .create-button:hover {
    background-color: #0056b3;
    cursor: pointer;

  }
 
  
