

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:whitesmoke; */
    color: black;
    height: 9vh;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  /* .text{
    background-color: darkblue;
  } */
  .text2{
    display: flex;
    align-items: center;
  
  }
  .logo-container {
    display: flex;
  }

  .logo {
    width: 6em; 
    height: 4em;
  }
  
  .links-container {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    text-decoration: underline;
 
  }

  
  .create-button {
    background-color: #0040ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
  }
  
  .create-button:hover {
    background-color: #0056b3;
    cursor: pointer;

  }
 
  
