<<<<<<< HEAD
.user-profile {
  align-items: center; /* Vertically align content */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Allow image and details side-by-side */
  margin-bottom: 20px;
  padding: 20px;
}

.user-profile .profile-details {
  /* Styles for the user details section */
  flex: 1; /* Allow details to fill remaining space */
}

.user-profile .profile-details h2 {
  /* Styles for the user's full name */
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-profile .profile-details p {
  /* Styles for user email and other details */
  margin-bottom: 5px;
}

.user-profile .profile-image {
  /* Styles for the user profile image */
  border-radius: 50%; /* Round image */
  height: 100px;
  margin-right: 20px; /* Add spacing between image and details */
  object-fit: cover; /* Crop image to fit container */
  width: 100px;
}

.user-profile .quiz-stats {
  /* Styles for the quiz statistics section */
  border-top: 1px solid #ccc; /* Add a dividing line */
  margin-top: 15px; /* Add spacing above stats */
  padding-top: 10px; /* Add padding after the line */
}

.user-profile .quiz-stats h3 {
  /* Styles for the "Quiz Statistics" header */
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-profile .quiz-stats p {
  /* Styles for individual stat entries */
  margin-bottom: 5px;
}
=======
.user-profile {
  align-items: center; /* Vertically align content */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Allow image and details side-by-side */
  margin-bottom: 20px;
  padding: 20px;
}

.user-profile .profile-details {
  /* Styles for the user details section */
  flex: 1; /* Allow details to fill remaining space */
}

.user-profile .profile-details h2 {
  /* Styles for the user's full name */
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-profile .profile-details p {
  /* Styles for user email and other details */
  margin-bottom: 5px;
}

.user-profile .profile-image {
  /* Styles for the user profile image */
  border-radius: 50%; /* Round image */
  height: 100px;
  margin-right: 20px; /* Add spacing between image and details */
  object-fit: cover; /* Crop image to fit container */
  width: 100px;
}

.user-profile .quiz-stats {
  /* Styles for the quiz statistics section */
  border-top: 1px solid #ccc; /* Add a dividing line */
  margin-top: 15px; /* Add spacing above stats */
  padding-top: 10px; /* Add padding after the line */
}

.user-profile .quiz-stats h3 {
  /* Styles for the "Quiz Statistics" header */
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-profile .quiz-stats p {
  /* Styles for individual stat entries */
  margin-bottom: 5px;
}
>>>>>>> parent of f341fdb (update)
