:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: #333;
  --background: #fff;

}
body{
  background-image: url(../../../src/assets/HomeBackground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
